.svg-scroller {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    margin-right: 1rem;
}

.svg-container {
    display: flex;
    animation: scroll-left 30s linear infinite;

    width: calc(200px * 6);

}


.svg-icon {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}


@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
