/* Ensure body takes full width and height */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;  /* Ensure the body spans full width */
  overflow-x: hidden; /* Prevent overflow */
}

/* Navbar styling */
.navbar {
  height: 4vh;
  width: 80vw;
  max-width: 100vw;   /* Make sure it doesn't exceed viewport */
  margin: 0 auto;
  padding: 1rem;

  

  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between the elements */
  position: sticky;
  top: 0;
  z-index: 3;
  background: #242424;
  border-radius: 0.5rem;
}

/* Ensure the logo button and menu items align properly */
.logoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;  /* Remove default background */
  border: none;      /* Remove border */
  padding: 0;        /* Remove padding */
  cursor: pointer;   /* Change cursor to pointer */
  outline: none;     /* Remove outline on focus */
  width: 50px;
}

.logo {
  object-fit: scale-down;
  width: 50px;
}

.desktop-menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* Add spacing between the items */
}

/* Ensure the button is aligned properly on the right side */
.desktopMenuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
}
